## 와인 품질 데이터
- 와인 성분 변수들을 이용하여 품질을 예측하는 유명한 데이터 <br> <br>

# 과제 진행 하실 때, 여기에 직접하시면 전체가 수정됩니다..<br>
#따로 다운로드 받으셔서 진행해주시기바랍니다.

In [ ]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings(action='ignore')

#### 데이터 불러오기 및 앞부분 확인

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
cd content/gdrive/MyDrive

/content/gdrive/MyDrive

In [ ]:
data = pd.read_csv('wine.csv')
data.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

#### 데이터 shape 확인

In [ ]:
data.shape

(5497, 14)

#### 컬럼명 확인

In [ ]:
data.columns

Index(['index', 'quality', 'fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'type'],
      dtype='object')

#### NaN, 데이터 타입, 개수 확인

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5497 entries, 0 to 5496
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 5497 non-null   int64
 1   quality               5497 non-null   int64
 2   fixed acidity         5497 non-null   float64
 3   volatile acidity      5497 non-null   float64
 4   citric acid           5497 non-null   float64
 5   residual sugar        5497 non-null   float64
 6   chlorides             5497 non-null   float64
 7   free sulfur dioxide   5497 non-null   float64
 8   total sulfur dioxide  5497 non-null   float64
 9   density               5497 non-null   float64
 10  pH                    5497 non-null   float64
 11  sulphates             5497 non-null   float64
 12  alcohol               5497 non-null   float64
 13  type                  5497 non-null   object
dtypes: float64(11), int64(2), object(1)
memory usage: 601.4+ KB

#### 통계값 확인

In [ ]:
data.describe()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
count,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000
mean,2748.000000,5.818992,7.210115,0.338163,0.318543,5.438075,0.055808,30.417682,115.566491,0.994673,3.219502,0.530524,10.504918
std,1586.991546,0.870311,1.287579,0.163224,0.145104,4.756676,0.034653,17.673881,56.288223,0.003014,0.160713,0.149396,1.194524
min,0.000000,3.000000,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.740000,0.220000,8.000000
25%,1374.000000,5.000000,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,78.000000,0.992300,3.110000,0.430000,9.500000
50%,2748.000000,6.000000,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994800,3.210000,0.510000,10.300000
75%,4122.000000,6.000000,7.700000,0.400000,0.390000,8.100000,0.064000,41.000000,155.000000,0.996930,3.320000,0.600000,11.300000
max,5496.000000,9.000000,15.900000,1.580000,1.660000,65.800000,0.610000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000

#### quality의 unique 확인

In [ ]:
data.quality.unique()

array([5, 6, 7, 8, 4, 3, 9])

#### quality별로 개수 확인

In [ ]:
data.quality.value_counts()

6    2416
5    1788
7     924
4     186
8     152
3      26
9       5
Name: quality, dtype: int64

#### 중요하다고 생각되는 부분만 추출

In [ ]:
df=data[['quality','residual sugar','pH','alcohol','type']]
df.head(5)

   quality  residual sugar    pH  alcohol   type
0        5             6.8  3.44     10.2  white
1        5             2.4  3.19      9.5    red
2        5             2.0  3.05     10.9  white
3        6             6.0  3.26     10.8  white
4        6             9.5  3.04     10.9  white

#### groupby를 통해 quality로 묶고 통계값(min,mean,max) 확인

In [ ]:
df.groupby("quality").agg((["min", "mean", "max"]))

        residual sugar                     pH                 alcohol  \
                   min      mean    max   min      mean   max     min
quality
3                 1.15  5.203846  16.20  2.87  3.250385  3.63     8.0
4                 0.70  4.145430  15.40  2.74  3.228602  3.90     8.6
5                 0.60  5.792422  23.50  2.79  3.213384  3.79     8.0
6                 0.70  5.535141  65.80  2.74  3.219611  4.01     8.4
7                 0.90  4.748918  19.25  2.84  3.228333  3.82     8.6
8                 0.80  5.581579  14.80  2.94  3.216711  3.57     8.8
9                 1.60  4.120000  10.60  3.20  3.308000  3.41    10.4


              mean   max
quality
3        10.251923  12.6
4        10.180376  13.5
5         9.846875  14.9
6        10.606015  14.0
7        11.383864  14.2
8        11.680921  14.0
9        12.180000  12.9

#### groupby를 통해 quality/type로 묶고 개수 세기

In [ ]:
df.groupby(["quality", "type"]).size()

quality  type
3        red         9
         white      17
4        red        41
         white     145
5        red       571
         white    1217
6        red       535
         white    1881
7        red       169
         white     755
8        red        13
         white     139
9        white       5
dtype: int64

#### 알코올 함량을 기준으로 오름차순 정리 (20개)

In [ ]:
df.sort_values('alcohol').head()

      quality  residual sugar    pH  alcohol   type
4254        3            5.10  3.42      8.0  white
5077        5            0.95  3.34      8.0  white
1768        3            2.10  3.16      8.4    red
4176        5            3.30  3.16      8.4  white
479         6            1.80  2.86      8.4    red

#### 알코올 함량을 기준으로 내림차순 정리 (20개)

In [ ]:
df.sort_values('alcohol', ascending=False).head()

      quality  residual sugar    pH  alcohol   type
2787        5             7.5  2.98    14.90    red
5340        7             1.6  3.12    14.20  white
4964        7             8.4  3.26    14.05  white
4059        6             1.8  3.68    14.00    red
3005        7             1.9  3.21    14.00  white

#### quailty가 7 이상인 데이터 추출 (20개)

In [38]:
df[df.quality > 7][:20]

     quality  residual sugar    pH  alcohol   type
25         8            3.90  3.24     12.6  white
54         8            6.10  3.08     12.5  white
71         8            7.05  3.25     11.1  white
122        8            2.00  3.23     10.4  white
165        8            5.45  3.13     13.0  white
168        8            2.70  3.20     13.2  white
208        8            1.80  3.38     11.8  white
228        8            1.50  3.56     13.0  white
270        8            1.10  2.98     11.2  white
327        8            4.00  3.20     12.6  white
341        8            2.00  3.45     10.7  white
360        8           14.20  3.14      8.9  white
362        8           10.30  3.19      9.8  white
363        8            3.85  3.04     11.3  white
435        8           10.05  3.09     11.7  white
442        8           10.05  3.09     11.7  white
465        8            9.10  3.16     12.7  white
491        8           14.20  3.14      8.9  white
513        8            1.30  3.26     12.4  white
530        8            2.10  3.25     11.9  white

#### alcohol을 기준으로 10도가 넘으면 'strong' 아니면 'weak'으로 표시 (lambda 쓰세요)

In [64]:
df['alcohol_label'] = df['alcohol'].apply(lambda x: 'strong' if x > 10 else 'weak')
df.head(10)

   quality  residual sugar    pH  alcohol   type alcohol_label
0        5             6.8  3.44     10.2  white        strong
1        5             2.4  3.19      9.5    red          weak
2        5             2.0  3.05     10.9  white        strong
3        6             6.0  3.26     10.8  white        strong
4        6             9.5  3.04     10.9  white        strong
5        6             9.7  3.08     12.0  white        strong
6        5             1.5  3.30      9.6  white          weak
7        6            11.8  3.04     10.0  white          weak
8        5            18.3  3.30      8.7  white          weak
9        5            11.6  3.07      9.3  white          weak

#### merge 실습을 위해 데이터를 인위적으로 나눠볼게요

In [40]:
df_x = data[['quality', 'fixed acidity', 'citric acid']]

In [59]:
df_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5497 entries, 0 to 5496
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   quality        5497 non-null   int64
 1   fixed acidity  5497 non-null   float64
 2   citric acid    5497 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 129.0 KB

In [41]:
df_y = data[['quality', 'volatile acidity', 'chlorides', 'alcohol']]

In [42]:
df_y = df_y[df_y.quality >= 7]

#### quality를 기준으로 inner join

In [52]:
df_inner = pd.merge(df_x, df_y, how='inner', on='quality')
df_inner

In [58]:
df_inner.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 876905 entries, 0 to 876904
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   quality           876905 non-null  int64
 1   fixed acidity     876905 non-null  float64
 2   citric acid       876905 non-null  float64
 3   volatile acidity  876905 non-null  float64
 4   chlorides         876905 non-null  float64
 5   alcohol           876905 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 46.8 MB

In [62]:
df_inner.head(5)

   quality  fixed acidity  citric acid  volatile acidity  chlorides  alcohol
0        7            6.2         0.33             0.160      0.057     10.9
1        7            6.2         0.33             0.330      0.038     11.9
2        7            6.2         0.33             0.280      0.029     12.2
3        7            6.2         0.33             0.305      0.047     11.5
4        7            6.2         0.33             0.190      0.053      9.1

#### quality를 기준으로 outer join

In [ ]:
df_outer = pd.merge(df_x,df_y, how='outer', on='quality')
df_outer

In [60]:
df_outer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 881321 entries, 0 to 881320
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   quality           881321 non-null  int64
 1   fixed acidity     881321 non-null  float64
 2   citric acid       881321 non-null  float64
 3   volatile acidity  876905 non-null  float64
 4   chlorides         876905 non-null  float64
 5   alcohol           876905 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 47.1 MB

In [63]:
df_outer.head(5)

   quality  fixed acidity  citric acid  volatile acidity  chlorides  alcohol
0        5            5.6         0.06               NaN        NaN      NaN
1        5            8.8         0.14               NaN        NaN      NaN
2        5            7.9         0.39               NaN        NaN      NaN
3        5            6.1         0.49               NaN        NaN      NaN
4        5            6.8         0.31               NaN        NaN      NaN

<br>수고하셨습니다! 넘파이와 판다스는 기능이 정말 많아서 이번 세션에서 다 다루진 못했습니다..! <br>
하지만 우리에겐 구글이 있죠 😎 <br>
무수한 블로그와 스택오버플로우를 뒤지다 보면 필요한 기능을 찾으실 수 있습니다<br>
직접 데이터를 만져보면서 여러 함수들을 써보면 저절로 넘파이와 판다스가 손에 익으실 거에요! :)<br>